html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #1B1818;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    padding-bottom: 5px;
    font-size: 30px;
    line-height: 29px;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    border-bottom: 2px solid #FEFEFE;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;  
}

.section {
    display: flex;
    height: 100vh;
}

.form {
    margin: 25px 0;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    width: 230px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
}

.form input::placeholder {
    font-size: 18px;
    color: gray;
}

.form .btn {
    margin: 30px 0;
}

.anime__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.scroll {
    /* min-width: fit-content; */
    min-width: 400px;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.anime__list-item {
    width: 330px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    border: 1px solid black;
    background: rgba(255,192,203, 0.8);
    transition: 1s;
}

.anime__item-item:hover {
    transform: scale(1.1);
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    color: #FEFEFE;
    background: #C5AC2D;
    padding: 16px 19px 15px;
    transition: all 0.5s;
    border: 1px solid #FEFEFE;
    border-radius: 30px;
}

.btn:hover {
    color: #C5AC2D;
    background: #FEFEFE;
    border: 1px solid #C5AC2D;
    cursor: pointer;
}

.total {
    width: 230px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 22px;
    border: 1px solid black;
    background: rgba(92, 217, 248, 0.8);
}

.clock {
    width: 230px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid black;
    background: rgba(92, 217, 248, 0.8);
}